doctype html
html
    head
        title Urban Collection
    body
        h1 Welcome to urban collection

doctype html
html(lang="en")
  head
    title = UrbanCollection
    
  body
    h1 Welcome to Urban collection. where variety meets owners
    #container.col
      
      p strong focus on performance and powerful features.