<div class="container">
    show single product
    <div class="container">
        <ul class="list-group">
           
            <li class="list-group-item"><%= products.date %></li>
           
        </ul>
    </div>
</div>